# Общие переменные окружения
POSTGRES_DB=musson_db
POSTGRES_USER=musson_user
POSTGRES_PASSWORD=musson_pass
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True

# API и фронтенд
API_URL=http://backend:8000/api/v1
MEDIA_URL=http://backend:8000/media/
FRONTEND_URL=http://frontend:3000
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

