[flake8]
ignore = E203, W503, F541, E501
max-line-length = 88
exclude = venv, migrations, node_modules
per-file-ignores =
    backend/blog/management/commands/generate_test_data.py:E501
    backend/blog/models.py:E501
    backend/blog/exception_handlers.py:E501
    backend/blog/tests/test_contact.py:E501
    backend/config/settings.py:E501
    backend/config/urls.py:E501
    backend/users/admin.py:E501
    backend/users/migrations/0001_initial.py:E501
    ./backend/blog/management/commands/convert_images_to_webp.py:E501 