venv/
node_modules/
.next/
.pytest_cache/
*.log
.env.local
*.env
.env.*
!.env.example
coverage/
.coverage
__pycache__/
.DS_Store

# Игнорировать все медиа-файлы и папки
media/
backend/media/
backend/backend/media/
media/posts/uploads/
media/uploads/
*.pyc
backend/media/
