django~=5.0
djangorestframework
psycopg2-binary
pytest
pytest-django
python-dotenv
requests
faker
djangorestframework-simplejwt
gunicorn
drf-spectacular[validation]>=0.28.0,<0.29.0 # OpenAPI schema generation
Pillow>=10.3.0,<11.0.0 # Image processing
django-ckeditor-5>=0.2.17 # WYSIWYG editor
factory_boy
flake8
